div.imgB2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.imgB2:hover {
    border: 1px solid #777;
}

div.imgB2 img {
    width: 100%;
    height: auto;
}

#name{
    color: #FFFACD;
 }
#icon{
    border-radius: 15%;
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 20%;
    float: left;
    
}
.adj {
float: left;
display: block;
margin: 0cm 5cm 0cm 4cm;
}

.n a{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #4183C4;
    float: Right;
    margin-left: 20px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
   }
.more {
    
    color: #F0E68C;
}

#blockImage {
    display: block;
    margin: 0 auto;
    width= 80%; height= 60%;
}

img {
    display: block;
    margin: 0 auto;
}

