#name{
    color: #FFFACD;
 }
#icon{
    border-radius: 15%;
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 20%;
    float: left;
    
}
h2.ajuste {

margin: 2cm 4cm 3cm 4cm;
}
.ajuste h2{

margin-right: 300px;
margin-left: 140px;
}
.ajuste p {
margin-right: 300px;
margin-left: 140px;

}
.ajuste h3 {
margin-right: 300px;
margin-left: 140px;}


.n a{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #4183C4;
    float: Right;
    margin-left: 20px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
   }
.more {
    
    color: gray;
}

#blockImage {
    display: block;
    margin: 0 auto;
    width= 80%; height= 60%;
}

img {
    display: block;
    margin: 0 auto;
}

